.pagewrapper{padding:10px 100px;}
body h1{font-size:30px; font-weight:bold;}
body h2{font-size:28px; font-weight:bold;}
body{font-family: "Times New Roman", Times, serif; cursor:default; 
	
	/* Make text un-selectable */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome / Opera */
}